asgiref==3.11.0
Django==5.2.10
psycopg==3.3.2
psycopg-binary==3.3.2
python-decouple==3.8
sqlparse==0.5.5
tzdata==2025.3
django-cors-headers==4.9.0
pytest-django==4.10.0
pytest-cov==6.1.0
iot-hub-shared @ git+https://github.com/IoT-Hub-Bravo/python-service-libs.git
gunicorn==25.3.0
